[submodule "ws_ros2_abb/src/abb_egm_rws_managers"]
	path = ws_ros2_abb/src/abb_egm_rws_managers
	url = https://github.com/micmzr/abb_egm_rws_managers.git
[submodule "ws_ros2_abb/src/abb_ros2"]
	path = ws_ros2_abb/src/abb_ros2
	url = https://github.com/micmzr/abb_ros2.git
[submodule "ws_ros2_abb/src/abb_libegm"]
	path = ws_ros2_abb/src/abb_libegm
	url = https://github.com/micmzr/abb_libegm.git
[submodule "ws_ros2_abb/src/abb_librws"]
	path = ws_ros2_abb/src/abb_librws
	url = https://github.com/micmzr/abb_librws.git
[submodule "ws_ros2_abb/src/abb_ros2_msgs"]
	path = ws_ros2_abb/src/abb_ros2_msgs
	url = https://github.com/gbartyzel/abb_ros2_msgs.git
